aenum==3.1.17
annotated-types==0.8.0
asgiref==3.11.0
cashfree_pg==6.0.1
certifi==2026.7.22
charset-normalizer==3.5.1
Django==6.0.1
django-cors-headers==4.9.0
djangorestframework==3.18.1
gunicorn==26.2.0
idna==3.20
pillow==12.1.1
pycryptodome==3.23.0
pydantic==2.13.5
pydantic_core==2.46.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
requests==2.34.2
resend==2.47.0
six==1.17.0
sqlparse==0.5.5
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2025.3
urllib3==2.0.7
whitenoise==6.12.0
