@media (max-width: 600px) {

  .footer {
    padding: 40px 6% 20px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-left p {
    max-width: 300px;
  }

  .footer-bottom {
    margin-top: 30px;
  }
}

.footer {
  background: #080808;
  border-top: 1px solid #202020;
  padding: 50px 10% 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.footer-left h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-left h2 span {
  color: #00adb5;
}

.footer-left p {
  color: #888;
  font-size: 14px;
}

.footer-socials {
  display: flex;
  gap: 15px;
}

.footer-socials a {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #333;
  border-radius: 50%;

  color: white;
  text-decoration: none;

  transition: 0.3s;
}

.footer-socials a:hover {
  color: #00adb5;
  border-color: #00adb5;
}

.back-to-top {
  width: 42px;
  height: 42px;

  border: 1px solid #333;
  border-radius: 6px;

  background: transparent;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.3s;
}

.back-to-top:hover {
  color: #00adb5;
  border-color: #00adb5;
}

.footer-bottom {
  max-width: 1200px;
  margin: 35px auto 0;
  padding-top: 20px;

  border-top: 1px solid #202020;

  text-align: center;
}

.footer-bottom p {
  color: #666;
  font-size: 13px;
}